body {
    background-color: #1b1b1b;
    color: #d3d3d3;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#classFilter {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 25%;
}

#classFilter h2 {
    color: #ffffff;
}

/* Updated styles for inline labels */
#classFilter label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

#classFilter input[type="checkbox"] {
    margin-right: 10px;
}

#classFilter button {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.class-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#spellViewer {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
}

#spellViewer h1 {
    color: #ffffff;
}

#spellViewer input[type="file"],
#spellViewer input[type="text"],
#spellViewer select,
#spellViewer textarea {
    width: calc(100% - 20px);
    margin-bottom: 5px;
    padding: 10px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
}

#spellViewer button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-input {
    width: auto;
    display: inline-block;
    margin-left: 0px;
    padding: 10px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
}

.tooltip {
    display: none;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.show-tooltip {
    display: block;
}
